/* Styles go here */

body {
  margin: 10px;
}

.myController{
  width: 100%;
  display: block;
  clear: both;
}

.container {
  padding: 10px;
  width: 40%;
  display: block;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}

.row{
    display:inline-block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.column{
	float: left;
	width: auto;
	display: inline-block;
}

.center{
	text-align: center;
}

input {
  display: table-cell;
}
